@font-face {
     font-family: flaming;
     src: url('/assets/fonts/Flaming.otf');
}
@font-face {
  font-family: 'digital';
  src: url('/assets/fonts/digi.ttf');
}
@font-face {
  font-family: 'Love_Hewits';
  src: url('/assets/fonts/Love_Hewits.ttf');
}
@font-face {
  font-family: 'Scriptina';
  src: url('/assets/fonts/Scriptina.ttf');
}
@font-face {
  font-family: 'Bernard';
  src: url('/assets/fonts/Bernard.ttf');
}

.font_header{
	font-family: Love_Hewits !important;
}
.font_e_header{
	font-family: flaming !important;
}

.font_s_header{
	font-family: Scriptina !important;
}

.font_title{
	font-family: Bernard !important;
}

.font_contdown{
	font-size: 70px !important; 
	font-family: Bernard !important;
}

.font_label_contdown{
	font-size: 24px; 
	font-family: Bernard !important;
}

@media (max-width: 767px) {

	.font_bg{
		font-size: 50px !important; 
		font-family: Love_Hewits !important;
	}
	.font_e_bg{
		font-size: 25px !important; 
		font-family: flaming !important;
	}
	.font_s_bg{
		font-size: 50px !important; 
		font-family: Scriptina !important;
	}

}

@media (min-width: 767px) {

	.font_bg{
		font-size: 90px !important; 
		font-family: Love_Hewits !important;
	}
	.font_e_bg{
		font-size: 40px !important; 
		font-family: flaming !important;
	}
	.font_s_bg{
		font-size: 90px !important; 
		font-family: Scriptina !important;
	}

}
