@font-face {
     font-family: flaming;
     src: url('/assets/fonts/Flaming.otf');
}
@font-face {
  font-family: 'Love_Hewits';
  src: url('/assets/fonts/Love_Hewits.ttf');
}
@font-face {
  font-family: 'Scriptina';
  src: url('/assets/fonts/Scriptina.ttf');
}
@font-face {
  font-family: 'Bernard';
  src: url('/assets/fonts/Bernard.ttf');
}
@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/Garamond.ttf');
}
@font-face {
  font-family: 'Times_New_Roman';
  src: url('/assets/fonts/Times_New_Roman.ttf');
}

.font_header{
	font-family: Love_Hewits !important;
}
.font_e_header{
	font-family: flaming !important;
}

.font_s_header{
	font-family: Scriptina !important;
}

.font_title{
	font-family: Bernard !important;
}

.font_garamond{
	font-family: Garamond !important;
}

.font_contdown{
	font-size: 70px !important; 
	font-family: Bernard !important;
}

.font_label_contdown{
	font-size: 24px; 
	font-family: Bernard !important;
}

.font_history{
	font-size: 24px; 
	color: #fff !important;
	font-family: Bernard !important;
}
.font_white{
	color: #fff;
}

.color-default{
	color: #23263b;
}

.sub-title-white {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.sub-title-white:before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 60px;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
  top: -5px;
}
.sub-title-white:after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 60px;
  background-color: #fff;
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.circle img {
  position: relative;
  bottom: 0;
  height: 100%;
}

@media (max-width: 767px) {

	.font_bg{
		font-size: 50px !important; 
		font-family: Love_Hewits !important;
	}
	.font_e_bg{
		font-size: 25px !important; 
		font-family: flaming !important;
	}
	.font_s_bg{
		font-size: 50px !important; 
		font-family: Scriptina !important;
	}

	.circle {
	  background-color: #aaa;
	  border-radius: 50%;
	  width: 240px;
	  height: 240px;
	  overflow: hidden;
	  position: relative;
	}

	.text_mob_right{
		text-align: center !important;
	}
	.text_mob_left{
		text-align: center !important;
	}

	.margin-gamb{
		margin-top: 55% !important;
	}

	.size-gamb{
		height: 450px !important;
	}
	.padding-gamb{
		padding-left: 4.5% !important
	}

}

@media (min-width: 767px) {

	.font_bg{
		font-size: 90px !important; 
		font-family: Love_Hewits !important;
	}
	.font_e_bg{
		font-size: 40px !important; 
		font-family: flaming !important;
	}
	.font_s_bg{
		font-size: 90px !important; 
		font-family: Scriptina !important;
	}

	.circle {
	  background-color: #aaa;
	  border-radius: 50%;
	  width: 300px;
	  height: 300px;
	  overflow: hidden;
	  position: relative;
	}
	.text_mob_right{
		text-align: right !important;
	}
	.text_mob_left{
		text-align: left !important;
	}	

	.margin-gamb{
		margin-top: 15% !important;
	}

	.size-gamb{
		height: 600px !important;
	}

	.padding-gamb{
		padding-left: 8% !important
	}

}
